/* * {
  outline: 1px dotted red;
  box-sizing: border-box;
} */

body {
  /* width: 960px; */
}

header {
  margin-bottom: 150px;
}

nav {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

header>nav>img {
  float: left;
  margin-top: 20px; 
}

header>nav>ul {
  float: left;
  margin-top: 18px;
  margin-left: 10px;

}

nav>ul>li>p {
  /* color: grey; */
  font-weight: lighter;
}

nav>ul>li>h2 {
  font-family: sans-serif;
  font-size: xx-large;
  font-style: italic;
  font-weight: bold;
}

nav>section>ul {
  margin-left: 750px;
}

nav>section>ul>li {
  float: left;
  margin-top: 20px;
  margin-left: 2px;
}

header>img {
  background-image: url("img/hr-img.png");
  background-repeat: repeat;
  height: 10px;
  width: 10px;
}

main {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

main>ul {
  float: left;
}

main>ul>li>h1 {
  /* margin-top: 150px; */
  font-family: sans-serif;
  font-size: 40px;
  font-weight: bold;
}

main>ul>li>p {
  color: gray;
}

main>section>ul {
  float: left;
  margin-left: 608px;
  margin-top: 25px;
}

main>section>img {
  margin-top: 40px;
  width: 960px;
}


main>p {
  margin-top: 40px;
  text-indent: 30px;
  font-weight: lighter;
  font-size: large;
}

div {
  position: relative;
  margin-top: 30px;
}

div>img {
  width: 960px;
}

main>div>section {
  /* margin-top: 30px; */
}
main>div>section>ul {
  /* float: left; */
  margin-left: 150px;
  font-size: x-large;
  font-weight: 300;
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translate(-50%, -50%);
}

main>div>section>article>ul {
  /* float: left; */
  margin-left: 150px;
  font-size: x-large;
  font-weight: 300;
  position: absolute;
  top: 42.9%;
  left: 50%;
  transform: translate(-50%, -50%);
}
main>div>section>ul>li {
  margin-top: 5px;
  /* list-style-type: ; */
}

main>div>section>article>ul>li {
  margin-top: 5px;
}

footer {
  margin-top: 125px;
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

footer>section>ul>li>h3 {
  font-size: x-large;
  font-weight: 800;
}

footer>section>img {
  float: left;
}

footer>section>ul {
  float: left;
  margin-left: 10px;
  margin-top: 5px;
}

footer>section>ul>li>p {
  margin-top: 10px;
}

footer>section>article {
  background-color: rgb(226, 73, 17);
  width: 175px;
  height: 43px;
  float: left; 
  margin-left: 238px;
}

footer>section>article>p {
  padding-left: 27px;
  padding-top: 12px;
  color: antiquewhite;
}


footer>div>section>img {
  margin-top: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
footer>div>section>p {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}